body {
    background-color: #777;
    font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 960px;
    font-size: 18px;
    text-align: center;
    margin-left: 50px;

}



#head {
    background-color: #ebebeb;
    color: #777;
}

#nav {
    background-color: #ebebeb;
    color: #777;
    margin-top: 10px;
    margin-bottom: 30px;
   }

#section {
    background-color: #ebebeb;
    color: #777;
    width: 495px;
}

#aside {
    background-color: #ebebeb;
    color: #777;
}

#article {
    background-color: #777;
    color: #ebebeb;
    width: 396px;
    margin-left: 50px;
}

#h1 {
    background-color: #ebebeb;
    color: #777;
    margin-top: 10px;
    margin-bottom: 10px;
}

#p {
    background-color: #ebebeb;
    color: #777;
}

#footer {
    background-color: #ebebeb;
    color: #777;
    margin-top: 30px;
}